<div class="container-fluid p-0">
  <div class="row d-flex align-items-top">
    <div class="col-xxl-5 col-lg-auto">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Enter domain to central station</mat-label>
        <input matInput placeholder="wss://domain.com/ocpp/charger1" required />
        <mat-hint
          >Enter the domain using wss:// to connect to the websocket</mat-hint
        >
      </mat-form-field>
    </div>
    <div class="col-xxl-auto me-4 col-lg-auto mt-3">
      <mat-slide-toggle
        [color]="'primary'"
        class="mx-2"
        [matTooltipShowDelay]="toolTipDelay"
        [matTooltip]="'Info about the action'"
        >Remember domain</mat-slide-toggle
      >
      <mat-slide-toggle
        [color]="'primary'"
        class="mx-2"
        [matTooltipShowDelay]="toolTipDelay"
        [matTooltip]="'Info about the action'"
        [disabled]="true"
      >
        Simulator mode
      </mat-slide-toggle>
    </div>
    <div class="col-xl-auto ms-3 col-lg-auto text-end">
      <button
        class="py-2"
        [color]="'primary'"
        [matTooltip]="'Info about the action'"
        [matTooltipShowDelay]="toolTipDelay"
        mat-raised-button
      >
        Connect to central
      </button>
    </div>
  </div>
</div>

<app-sockets></app-sockets>
<app-commands></app-commands>
