<div class="container-fluid p-0">
  <form [formGroup]="form" class="row d-flex align-items-top">
    <div class="col-xxl-5 col-lg-auto">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Enter domain to central station</mat-label>
        <input
          formControlName="url"
          matInput
          placeholder="wss://domain.com/ocpp/charger1"
          required
        />
        <button
          *ngIf="url.length > 0"
          mat-icon-button
          matSuffix
          (click)="removeUrlFromLocalStorage()"
          [matTooltipShowDelay]="toolTipDelay"
          [matTooltip]="'Info about the action'"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <mat-hint
          >Enter the domain using wss:// to connect to the websocket</mat-hint
        >
        <mat-error *ngIf="!form.controls['url'].valid"
          >Input a valid url with the following wss://</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-xxl-auto me-4 col-lg-auto mt-3">
      <mat-slide-toggle
        formControlName="remember"
        [disabled]="url.length > 0"
        [color]="'primary'"
        class="mx-2"
        [matTooltipShowDelay]="toolTipDelay"
        [matTooltip]="'Info about the action'"
        >Remember domain</mat-slide-toggle
      >
      <mat-slide-toggle
        [color]="'primary'"
        class="mx-2"
        [matTooltipShowDelay]="toolTipDelay"
        [matTooltip]="'Info about the action'"
        [disabled]="true"
      >
        Simulator mode
      </mat-slide-toggle>
    </div>
    <div class="col-xl-auto ms-3 col-lg-auto text-end">
      <button
        class="py-2"
        (click)="submit()"
        [color]="'primary'"
        [matTooltip]="'Info about the action'"
        [matTooltipShowDelay]="toolTipDelay"
        mat-raised-button
      >
        {{ connected ? "Disconnect" : "Connect to central" }}
      </button>
    </div>
  </form>
</div>

<app-sockets></app-sockets>
<app-commands></app-commands>
