<mat-card class="container-fluid">
  <div class="row my-2">
    <div class="col-8">
      <h3 class="bold">Websocket communication</h3>
    </div>
    <div class="col-4 text-end">
      <p class="m-0 bold">
        <span class="d-inline-flex align-items-center">
          {{ state }}<span class="mx-2 dot {{ state.toLowerCase() }}"></span>
        </span>
      </p>
    </div>
  </div>
  <div class="row mx-1">
    <mat-card id="terminal" class="col-12 mx-auto my-2">
      <div class="overflow">
        <ngx-json-viewer [json]="response"></ngx-json-viewer>
      </div>
    </mat-card>
  </div>
  <div class="row mx-1 mt-3">
    <div class="col-6">
      <button
        [color]="'primary'"
        class="w-100 py-2"
        [matTooltip]="'info about this action'"
        [matTooltipShowDelay]="toolTipDelay"
        mat-raised-button
      >
        Export log
      </button>
    </div>
    <div class="col-6">
      <button
        [color]="'primary'"
        class="w-100 py-2"
        [matTooltip]="'info about this action'"
        [matTooltipShowDelay]="toolTipDelay"
        mat-raised-button
      >
        Clear log
      </button>
    </div>
  </div>
</mat-card>
