<div
  class="full-height container-fluid d-flex align-items-center background-purple"
>
  <div class="row d-flex align-items-center text-center m-auto">
    <div class="col-12">
      <figure class="w-25 m-auto">
        <img
          class="w-100"
          src="../../../assets/images/mcs logo-white.png"
          alt=""
          title=""
        />
      </figure>
    </div>
    <div class="col-12 text-center f-white">
      <h2 class="bold">Welcome to MCS Unity OCPP test tool</h2>
    </div>
    <div class="col-12 f-white">
      <h1 class="bold">Preparing test environment please be patient</h1>
    </div>
  </div>
</div>
