<mat-toolbar class="fixed">
  <button mat-icon-button class="mx-4" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>MCS UNITY</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon> error_outline </mat-icon>
  </button>
  <button mat-icon-button class="mx-4">
    <mat-icon> notifications_active </mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="drawer">
  <mat-drawer #drawer mode="side">
    <p>Auto-resizing sidenav</p>
    <p>Lorem, ipsum dolor sit amet consectetur.</p>
  </mat-drawer>
  <mat-drawer-content class="drawer flex-center"
    ><div class="w-100">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
