<mat-progress-bar
  *ngIf="isLoading"
  class="fixed top w-100"
  [mode]="'indeterminate'"
></mat-progress-bar>
<router-outlet></router-outlet>

<div class="container-fluid w-100 fixed bottom" [class.f-white]="isSplash">
  <div class="row mx-2" style="font-size: 10px">
    <div class="col-6">
      <p class="my-2 bold">version {{ version }}</p>
    </div>
    <div class="col-6 text-end">
      <p class="my-2 bold">
        Copyright all rights reserved MCS Unity Co.,LTD
        {{ date | DateTime: "YYYY" }}
      </p>
    </div>
  </div>
</div>
