<div class="container-fluid p-0 my-3">
  <div class="row">
    <div class="col-12">
      <button
        class="py-2"
        [matTooltip]="'Info about the action'"
        [matTooltipShowDelay]="toolTipDelay"
        mat-raised-button
      >
        Add charging socket
      </button>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12">
      <mat-card class="col-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let socket of sockets">
            <mat-card class="socket row d-inline-flex align-items-center">
              <div class="col-6">
                <p class="m-0 bold">{{ socket.name }}</p>
              </div>
              <div class="col-6 text-end p-0">
                <p class="m-0 bold">
                  <span class="d-inline-flex align-items-center">
                    {{ socket.state
                    }}<span
                      class="mx-2 dot {{ socket.state.toLowerCase() }}"
                    ></span>
                  </span>
                </p>
              </div>
            </mat-card>
          </ng-template>
        </owl-carousel-o>
      </mat-card>
    </div>
  </div>
</div>
