<a [routerLink]="'charger/:id'" class="w-100 p-0 m-0">
  <mat-card class="container-fluid m-2 text-center">
    <div>
      <div class="row">
        <div class="col-12">
          <p class="">Websocket</p>
          <p class=" mb-1 mx-3 circle {{ connectionState }}"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <figure class="w-100">
            <img
              class="w-50"
              src="../../assets/image/petrol-station.png"
              alt=""
              title="charger icon"
            />
          </figure>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>Available</p>
        </div>
      </div>
    </div>
  </mat-card>
</a>
