/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

$white: #fff;
$gray: #f2f2f2;
$darkGray: #8c8c8c;
$dark: #000000;
$purple: #231520;
$green: #19ca8a;
$yellow: #eed811;
$red: #c10c0c;
$fontFamily: "Orbitron", sans-serif;
$fontSize: 14px;

body,
html {
  font-family: $fontFamily !important;
  font-size: $fontSize;
  background-color: $gray;
}

h3 {
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  color: $darkGray;
  text-decoration: none;
  font-size: $fontSize;
}

.ui {
  padding: 0 5px;
  height: 87vh;
}

.link:hover,
.link:focus {
  color: $dark;
}

.selected {
  color: $dark;
  border-bottom: 2px solid $green;
}

.bold {
  font-weight: 700;
}

.full-height {
  height: 100vh;
}

.spacer {
  flex: 1 1 auto;
}

.fixed {
  position: fixed;
  left: 0;
  z-index: 99;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.f-white {
  color: $white;
}

.background-purple {
  background-color: $purple;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.connected,
.available {
  background-color: $green;
}

.pending {
  background-color: $yellow;
}

.error,
.rejected {
  background-color: $red;
}

//Override angular colors
.mat-toolbar {
  background-color: $white !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 5px;
}

.mat-progress-bar {
  height: 7px !important;
}

.mat-ink-bar {
  background-color: $green !important;
}

.mat-tab-header {
  border-bottom: none;
}

// JSON viewer
.segment-key {
  color: $white !important;
}
.segment-type-boolean > .segment-main > .segment-value {
  color: $white !important;
}
.segment-type-string > .segment-main > .segment-value {
  color: $white !important;
}
.segment-type-number > .segment-main > .segment-value {
  color: $white !important;
}

// Owl carousel
.owl-theme .owl-nav [class*="owl-"] {
  background: $purple !important;
}

.owl-nav {
  margin: 0 !important;
}

.owl-prev {
  position: absolute !important;
  top: 12px;
  left: -35px;
}

.owl-next {
  position: absolute !important;
  top: 12px;
  right: -35px;
}
