/* You can add global styles to this file, and also import other style files */

$green: #00c300;
$yellow: #fef6d8;
$red: #c0392b;
$veryLightGray: #f7f7f7;
$white: #fff;
$boxShadow: 0 0 6px rgba(0, 0, 0, 0.3);
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $veryLightGray;
}

.flex-center {
  display: flex;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: $white;
  box-shadow: $boxShadow;
}

.mat-form-field-wrapper {
  padding: 0;
}
