<div class="contianer-fluid p-p">
  <div class="row">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Boot Notification">
          <mat-card class="command-card mt-2"></mat-card>
        </mat-tab>
        <mat-tab label="Transactions">
          <mat-card class="command-card mt-2"></mat-card>
        </mat-tab>
        <mat-tab label="Status Notification">
          <mat-card class="command-card mt-2"></mat-card>
        </mat-tab>
        <mat-tab label="Heartbeat">
          <mat-card class="command-card mt-2"></mat-card
        ></mat-tab>
        <mat-tab label="Error">
          <mat-card class="command-card mt-2"></mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
